.columncontainer {
  display: flex;
  max-width: 920px;
  padding: 0;
}

.box {
  max-width: 920px;
  margin: auto;
}

@media screen and (max-width: 920px) {
  .box {
    max-width: 640px;
  }
}

pre code {
  max-height: 500px;
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  overflow: scroll;
  /* white-space: nowrap; */
}