.columncontainer {
  display: flex;
  max-width: 920px;
  padding: 0;
}

.box {
  max-width: 920px;
  margin: auto;
}

@media screen and (max-width: 920px) {
  .box {
    max-width: 640px;
  }
}

pre code {
  max-height: 500px;
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  overflow: scroll;
}

#valueInput {
  width: 40px;
}

.options {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
}

button {
  border-radius: 3px;
}

.danger {
  background-color: rgb(255, 221, 221);
}

.good {
  background-color: rgb(230, 255, 230);
}

#save {
  width: 50%;
  margin: 5px auto;
  display: block;
}
