.wall{
    height:10px;
}
.wall-special{
    height:20px;
    width:20px;
    float:right;
    margin-left: 10px;
}
.column-custom-padding{
    padding:0.1em;
}

.tooltip{
    position: absolute;
    background: rgba(76, 175, 80, 0.3);
    border-radius: 6px;
    padding: 0.2em;
}

.wall-grey{
    background: #EBEDF0;
}

.wall-lighter-green{
    background:#C6E38F;
}

.wall-light-green{
    background: #7EC773;
}

.wall-dark-green{
    background: #2A9940;
}

.wall-darker-green{
    background: #1D6029;
}