.wall{
    height:10px;
}

.column-custom-padding{
    padding:0.1em;
}

.tooltip{
    position: absolute;
    background: rgba(76, 175, 80, 0.3);
    border-radius: 6px;
    padding: 0.2em;
}

.wall-grey{

}

.wall-lighter-green{

}

.wall-light-green{

}

.wall-dark-green{

}

.wall-darker-green{

}