section {
  border: 1px;
  display: block;
  justify-content: center;
  margin: 30px auto;
  border: 1px solid rgba(0, 0, 0, 0.247);
  border-radius: 15px;
  padding: 10px;
}

h3 {
  color: rgb(36, 36, 36);
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  font-size: 1em;
}
